body {
	font-size: 12px;
	font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
	background:#F3F3F3;
	color:#333;
	text-align:center;
	margin: 0;
	padding:0;
}

#page {
	text-align:left;
	width:1100px;
	margin:0px auto;
	background:white;
	border: 1px solid #D5D7CC;
}

#header {
}

#header .top-links{
	float: right;
	vertical-align: middle;
	padding: 30px 40px 0 0;
}
#header .top-links li{
	float: left;
	padding: 5px 10px;
	list-style: none;
}
#header .top-links li a{
	color: #666666;
}

#headerimg {
	vertical-align: middle;
	background: url('images/logo.png') no-repeat 24px 58%;
	margin:0;
	padding: 24px 80px;
}

#headerimg .title{
	font-weight: bold;
	font-size: 24px;
	color: #81A514 !important;
}
#headerimg .description{
	font-size: 12x;
	color: #999999;
}


#content {
	font-size: 12px;
	line-height: 150%;
}


.widecolumn {
	line-height:1.6em;
	width:800px;
	margin:5px 40px;
}

.narrowcolumn {
	float:left;
	width:760px;
	min-height: 400px;
	margin:0;
	padding:0 40px 20px 40px;
}

#sidebar {
	margin-left:860px;
	width:200px;
	padding: 20px 0px;
}

.narrowcolumn .postmetadata {
	padding-top:5px;
}

.thread-alt {
background-color:#f8f8f8;
}

.thread-even {
background-color:#FFF;
}

.depth-1 {
border:1px solid #ddd;
}

.alt {
	border-top:1px dotted #ddd;
	padding: 10px 0;
}

#footer {
	color: #999 !important;
	border:none;
	width:860px;
	clear:both;
	padding:0;
}

small {
font-family:Arial, Helvetica, Sans-Serif;
font-size:1em;
line-height:1.5em;
}

h1,h2,h3 {
font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
font-weight:700;
}

h1 {
display:inline;
color:#690;
font-size:24px;
padding-top:70px;
margin:0;
}

#headerimg .description {
font-size:1.2em;
text-align:center;
}

h2 {
	font-size:18px;
	margin:30px 0 0;
}

h2.pagetitle {
	font-size:1.6em;
	margin-top:30px;
	text-align:center;
	color: white;
	background: #91BB11;
	padding: 10px;
	margin: 10px 0;
}

#sidebar .side-nav {
	font-weight: bold;
	padding: 10px 0;
}

#sidebar h2 {
	color: #666;
	font-size: 12px;
	margin:5px 0 0;
	padding:0;
}

h3 {
font-size:1.3em;
margin:30px 0 0;
padding:0;
}

h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited {
color:#333;
}

.entry p a:visited {
color:#b85b5a;
}

.commentlist li ul li {
margin-right:-5px;
margin-left:0px;
}

.commentlist li {
margin:15px 0;
padding:5px 5px 10px 10px;
}

.commentlist li .avatar {
float:right;
border:1px solid #eee;
background:#fff;
padding:2px;
}

.commentlist cite,.commentlist cite a {
font-weight:700;
font-style:normal;
font-size:1.1em;
}

.commentlist p {
font-weight:400;
line-height:1.5em;
text-transform:none;
margin:10px 5px 10px 0;
}

#commentform p {
font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
margin:5px 0;
}

.commentmetadata {
font-weight:400;
display:block;
margin:0;
}


small,#sidebar ul ul li,#sidebar ul ol li,.nocomments,.postmetadata,blockquote,strike {
color:#777;
}

code {
font:1.1em 'Courier New', Courier, Fixed;
}

acronym,abbr,span.caps {
font-size:0.9em;
letter-spacing:.07em;
cursor:help;
}

a,h2 a:hover,h3 a:hover {
color:#06c;
text-decoration:none;
}

a:hover {
color:#147;
text-decoration:underline;
}


#wp-calendar #prev a,#wp-calendar #next a {
font-size:9pt;
}

#wp-calendar a {
text-decoration:none;
display:block;
}

#wp-calendar caption {
font:bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
text-align:center;
width:100%;
}

#wp-calendar th {
font-style:normal;
text-transform:capitalize;
}

.post {
text-align:justify;
margin:0 0 -20px 0;
border-bottom: 1px dotted #CCCCCC;
}

.post hr {
display:block;
}

.widecolumn .postmetadata {
margin:30px 0;
}

.widecolumn .smallattachment {
text-align:center;
float:left;
width:128px;
margin:5px 5px 5px 0;
}

.widecolumn .attachment {
text-align:center;
margin:5px 0;
}

#footer p {
	text-align:left;
	margin:0;
	padding:40px;
	line-height:20px;
}
#footer a {
	color: #666;
	text-decoration: underline;
}

h3#comments {
	margin:40px auto 20px;
	padding:10px;
	background: #F0F0F0;
}

p img {
max-width:100%;
padding:0;
}

img.alignright {
display:inline;
margin:0 0 2px 7px;
padding:4px;
}

img.alignleft {
display:inline;
margin:0 7px 2px 0;
padding:4px;
}


.navigation {
	margin: 20px 0;
	padding:0;
	text-align: right;
}
.alignleft {
	float:left;
}
.alignright {
}

html>body .entry ul {
	margin-left:0;
	list-style:none;
	text-indent:-10px;
	padding:0 0 0 10px;
}

html>body .entry li {
	margin:7px 0 8px 0px;
}


.entry ol {
margin:0;
padding:0 0 0 35px;
}

.postmetadata ul,.postmetadata li {
display:inline;
list-style-type:none;
list-style-image:none;
}

#sidebar ul li {
	list-style-type:none;
	list-style-image:none;
	margin: 0 0 15px 0;
}

#sidebar ul p,#sidebar ul select {
margin:5px 0 8px;
}

#sidebar ul ul,#sidebar ul ol {
margin:5px 0 0 0px;
}

#sidebar ul ul ul,#sidebar ul ol {
margin:0 0 0 10px;
}

ol li,#sidebar ul ol li {
list-style:decimal outside;
}

#sidebar ul ul li,#sidebar ul ol li {
margin:3px 0 0;
padding:0;
}

#searchform {
text-align:center;
margin:10px auto;
padding:5px 3px;
}

#sidebar #searchform #s {
width:108px;
padding:2px;
}

#sidebar #searchsubmit {
padding:1px;
}

select {
width:130px;
}

#commentform input {
width:170px;
margin:5px 5px 1px 0;
padding:2px;
}

#commentform {
margin:5px 10px 0 0;
}

#commentform textarea {
width:100%;
padding:2px;
}

#respond:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

#commentform #submit {
margin:0 0 5px auto;
}

.alt {
margin:0;
padding:10px;
}

.commentlist {
	text-align:justify;
	padding:0;
	margin: 0;
}

.children {
padding:0;
}

.nocomments {
text-align:center;
margin:0;
padding:0;
}

#wp-calendar {
empty-cells:show;
width:155px;
margin:10px auto 0;
}

#wp-calendar #next a {
padding-right:10px;
text-align:right;
}

#wp-calendar #prev a {
padding-left:10px;
text-align:left;
}

#wp-calendar td {
text-align:center;
padding:3px 0;
}

#wp-calendar td.pad:hover {
background-color:#fff;
}

acronym,abbr {
border-bottom:1px dotted #ccc;
}

blockquote {
padding-left:20px;
border-left:5px solid #ddd;
margin:15px 30px 0 10px;
}

blockquote cite {
display:block;
margin:5px 0 0;
}

a img {
border:none;
}

.wp-caption {
border:1px solid #ddd;
text-align:center;
background-color:#f3f3f3;
padding-top:4px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
margin:10px;
}

.wp-caption img {
border:0 none;
margin:0;
padding:0;
}

.wp-caption p.wp-caption-text {
font-size:11px;
line-height:17px;
margin:0;
padding:0 4px 5px;
}


.widecolumn .post {
}

.postmetadata,.clear {
clear:both;
}

img.centered,.aligncenter,div.aligncenter {
display:block;
margin-left:auto;
margin-right:auto;
}

.entry ol li,#sidebar ul,#sidebar ul ol {
margin:0;
padding:0;
}

.entry form,.center {
text-align:center;
}

.hidden,hr {
display:none;
}

.abstractImg{border: #cccccc 1px solid; padding: 2px; background-color: #fff; margin: 6px; float:right; display:none; }