* {
    font-family: 'Microsoft YaHei', Verdana, sans-serif, 'SimSun';
    font-size: 13px;
}

html body {
    margin: 0;
    padding: 20px 50px;
}

textarea {
    width: 100%;
    height: 300px;
    resize: none;
    padding: 15px;
}

#preview {
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #999;

}